fastapi
uvicorn
python-dotenv
langchain
openai
transformers
wikipedia
wolframalpha
geopy
langchain-community
langchain-openai
timezonefinder
geocoder
duckduckgo_search==5.3.1b1
requests
aiohttp
colorama
colorlog
pydantic
pytz
pyyaml
regex
tiktoken
huggingface-hub
fsspec
typing-extensions
tqdm 
