fastapi
uvicorn
python-dotenv
langchain
openai
transformers
wolframalpha
geopy
langchain-community
timezonefinder
geocoder
duckduckgo-search
requests
aiohttp
colorama
colorlog
pydantic
pytz
pyyaml
regex
tiktoken
huggingface-hub
fsspec
typing-extensions
tqdm 
