streamlit
faster-whisper
SpeechRecognition
pyttsx3
langchain
semantic-router[local]
openai
pyaudio
transformers
geopy
langchain-community
timezonefinder
geocoder
duckduckgo-search
webrtcvad
chainlit
gradio
torch
numpy
python-multipart
requests
aiohttp
colorama
colorlog
pydantic
pyyaml
regex
tiktoken
huggingface-hub
fsspec
typing-extensions
tqdm 